*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
li.list-item {
    width: 24.1%;
    float: left;
    margin-right: 10px;
  }
  
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  p {
    font-size: 30px;
    color: red;
  }
  
  .page {
    width: 800px;
    height: 40px;
    border: 1px solid skyblue;
    margin: 30px auto;
  }
  .breadcrumb{
    padding-left: 6px;
    padding-right: 6px;
  }
  h1{
    width: 200px;
    text-align: center;
    margin: 50px auto;
    font-family:cursive;
  }