@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,li,ol{
    list-style: none;
}
img{
    vertical-align: middle;
}

html,body{
    width: 100%;
    height: 100%;
    min-width: 500px;
    /* max-width: 1200px; */
}

a,a:hover,a:active{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
body{
    background:url("https://uploadstatic.mihoyo.com/contentweb/20200319/2020031921552395638.jpg") no-repeat;
    overflow: hidden;
    background-size: cover;
}
.back{
    width: 400px;
    height: 650px;
    background-color: white;
    opacity: 0.8;
    border-radius:40px;
    margin: 50px auto;
    box-shadow: rgb(151, 151, 151) 0px 0px 30px 5px;
    overflow: hidden;
    position: relative;
}
.p1{
    text-align: center;
    font-size: 30px;
    margin: 20px 38px 20px 61px;
}
.p2{
    text-align: center;
    font-size: 35px;
    margin: 20px 28px 0 50px;
}
.zhuce{
    text-align: center;
    margin: 2px 50px 0 50px;
}

.input1 input{
    display: block;
    width: 295px;
    height: 40px;
    margin: 20px 0 0 50px;
    font-size: 16px;
}
.input1{
    position: relative;
}
.waring{
    position: absolute;
    top: 46px;
    left: 50px;
}
.waring1{
    position: absolute;
    top: 130px;
    left: 50px;
}
.waring2{
    position: absolute;
    top: 214px;
    left: 50px;
}
.dot1,.dot2,.dot3,.dot4{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: skyblue;
    position: absolute;
    display: none;
}
.dot1{
    top: 12px;
    left: 360px;
}
.dot2{
    top: 96px;
    left: 360px;
}
.dot3{
    top: 180px;
    left: 360px;
}
.dot4{
    top: 264px;
    left: 360px;
}
.yanz{
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 18px;
    background-color: black;
    color: #fff;
    position: absolute;
    top: 298px;
    left: 50px;
    text-align: center;
    cursor: pointer;
}
.yanz::selection{
    background-color: transparent;
}
.yanz1{
    height: 30px;
    line-height: 30px;
    display: block;
    position: absolute;
    top: 298px;
    left: 150px;
}
.back>.p4{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px 50px 0 50px;
    background-color: skyblue;
    text-align: center;
    color: white;
    font-size: 16px;
}
.p5{
    text-align: center;
}
.p4::selection{
    background-color: transparent;
}
.in{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background: black;
    overflow: hidden;
    color:red;
    z-index: 200;
    display: none;
}
.in1::selection,.in2::selection{
    background-color: transparent;
}
.in1{
    width: 280px;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;
    cursor:default;
}
.in2{
    cursor: pointer;
    width: 145px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    background-color: gray;
    border-radius: 10px;
    color:red;
    /* display: none; */
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}